<!DOCTYPE html>
<html>
<head>
  <title>Trio Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="top-bar">
    <div id="record">-- / --</div>
    <div id="winrate">Winrate --</div>
  </div>

  <div class="cards-row">
    <div class="card-wrapper">
      <div class="card" id="card-0">
        <div class="tooltip" id="tooltip-0"></div>
      </div>
      <div class="card-name" id="card-name-0">--</div>
    </div>
    <div class="card-wrapper">
      <div class="card" id="card-1">
        <div class="tooltip" id="tooltip-1"></div>
      </div>
      <div class="card-name" id="card-name-1">--</div>
    </div>
    <div class="card-wrapper">
      <div class="card" id="card-2">
        <div class="tooltip" id="tooltip-2"></div>
      </div>
      <div class="card-name" id="card-name-2">--</div>
    </div>
  </div>

  <div id="history-list"></div>

  <script src="/static/script.js"></script>
</body>
</html>
